* {
    box-sizing: border-box;
}

.purple-container {
    background-color: #24053E;
    color: white;
    text-align: center;
}


.heading-container {
   display: flex;
   justify-content: space-around;
   
}